@{
    ViewBag.Title = "login";
}
@model MVCWeb.Models.UserInfo
<h2>login</h2>
@using (Html.BeginForm())
{
    <ol>
        <li>
            @Html.LabelFor(x=>x.UserName)
            @Html.TextBoxFor(x=>x.Password)
            @Html.ValidationMessageFor(x=>x.UserName)
        </li>
        <li>
            @Html.LabelFor(x=>x.Password)
            @Html.PasswordFor(x=>x.Password)
            @Html.ValidationMessageFor(x=>x.Password)
        </li>
    </ol>
    <input type="submit" />
}
